#main-navbar {
	background-color: blue;
	overflow: hidden;
}
#navbar-container {
	position: relative;
	float: left;
	width: 100%;
}

#main-navbar ul {
	position: relative;
	float: left;
	left: 50%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#main-navbar ul li {
	display: block;
	position: relative;
	float: left;
	right: 50%;
}
#main-navbar ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
}
#main-navbar ul li a:hover {
	background-color: #000;
}
#main-navbar #onpage {
	text-decoration: underline overline;
}
#sidebar {
	background-color: red;
	width: 20%;
	right:0%;
	height: 100%;
	position: fixed;
}
#sidebar ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}
#sidebar ul li {
	padding: 15px 0;
}
#sidebar ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
	
	
}
#sidebar ul li a:hover {
	background-color: #000
}